<%- include("header") -%>

<h1 id="heading">This is the about page of The Black Box Private Limited</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non amet sequi vel. Dolorum, vero saepe illo distinctio facere dicta ut amet deserunt soluta excepturi fugiat obcaecati exercitationem deleniti totam accusamus?z</p>

<%- include("footer") -%>